[Unit]
Description=LoveboxPi service
After=network.target
StartLimitIntervalSec=1

[Service]
Type=simple
Restart=always
RestartSec=1
KillSignal=SIGINT
WorkingDirectory=/usr/local/loveboxpi/
RuntimeDirectory=loveboxpi
RuntimeDirectoryPreserve=yes
ExecStart=/usr/local/loveboxpi/loveboxpi

[Install]
WantedBy=multi-user.target
