[Unit]
Description=Lovebox webserver/webservice daemon
After=network.target
StartLimitIntervalSec=1

[Service]
Type=simple
Restart=always
RestartSec=1
KillSignal=SIGINT
WorkingDirectory=/usr/local/lovebox/
RuntimeDirectory=lovebox
RuntimeDirectoryPreserve=yes
ExecStart=/usr/local/lovebox/loveboxd.py

[Install]
WantedBy=multi-user.target
